/* Media queries for responsive typography */
footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
  margin-top: 2.5rem;
}

.footer-cell {
  text-align: left;
}

.footer-cell > h4,
.footer-cell > p {
  text-align: center;
}

.card,
.list-group-item {
  border: none !important;
  background: none;
}

.list-group-item {
  padding-top: 0px !important;
}

.card-header {
  background: none;
  font-weight: 600;
}

.footer-lower {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  footer {
    font-size: 1rem;
  }

  .footer-card__container {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    margin-top: 1rem;
  }

  .footer-cell > h4,
  .footer-cell > p {
    text-align: center;
  }

  .footer-cell > h4 {
    margin-bottom: 0.25rem;
  }

  .footer-lower {
    margin-top: 1rem;
  }
}

@media only screen and (min-width: 1024px) {
  footer {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    margin-bottom: 1rem;
    margin-top: 2.5rem;
    font-size: 1rem;
  }

  .footer-lower {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .footer-cell li {
    list-style-type: none;
  }

  .list-group-item {
    padding-top: 5px !important;
  }
}
