.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px;
}

.home-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  padding: 20px;
  overflow: hidden;
  white-space: normal;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.home-card__header {
  font-size: 1.25rem;
  font-weight: bold;
  text-align: left;
  margin-bottom: 10px; /* add margin to bottom */
}

.home-card__img img {
  max-width: 100%;
  margin-bottom: 10px; /* add margin to bottom */
}

.home-card__link {
  text-align: left;
  margin-top: 10px;
  color: #0077cc;
  transition: color 0.2s ease-in-out;
  font-weight: bold;
  padding-bottom: 5px;
  font-size: 1rem;
}

.home-card__link a {
  text-decoration: none;
}

.home-card__link:focus,
.home-card__link:hover {
  color: #111111 !important;
  outline: none;
  text-decoration: underline;
}

.home-card__link:active {
  color: #ff6600;
  border-bottom-color: #ff6600;
}

.topDeal-card__img {
  height: 30vh;
}

.home-product-image {
  height: 30vh;
}

.topDeal-card {
  height: 50vh;
}

@media (max-width: 800px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .home-card__header {
    font-size: 1rem;
    text-align: left;
    margin-bottom: 10px; /* add margin to bottom */
  }
}

@media (max-width: 500px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }
}

@media (max-width: 899px) {
  .category-links {
    display: none;
  }
}