nav {
  background: #efefef !important;
  color: #f56400 !important;
  padding: 1rem !important;
}

.logo {
  font-size: 1.5rem;
  font-weight: 600;
  color: #f56400 !important;
}

nav .logo:hover {
  text-decoration: none !important;
  color: #f56400 !important;
}

nav > .nav-link {
  color: #f56400 !important;
}

.navbar-collapse-custom {
  display: flex !important;
  justify-content: space-between !important;
}

.nav-link {
  color: #111111 !important;
}

.nav-link:hover {
  color: #f56400 !important;
}

.sign-in {
  display: flex !important;
  align-items: center;
  gap: 0.25rem;
}

#burger-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 765px) {
  .all-links {
    display: None !important;
  }
  .navbar-toggler {
    margin-bottom: 1rem;
  }
  .logo {
    font-size: 3rem;
  }
}


@media (min-width: 766px) {
  .navbar-toggler {
    display: None;
    padding: 1rem !important
  }

  .carousel {
    padding-top: 0 !important;
  }

  .burger-list {
    display: none;
  }

}

.visible-burger {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-colour);
}

.visible-burger li {
  list-style-type: none;
  font-size: 3rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.invisible-burger {
  display: none;
}
