.shop-grid__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1.25rem;
  grid-template-areas:
    "clothing groceries footwear tech"
    "home home beauty beauty";
}

.category-header__caption {
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.category-card {
  background-color: #ccc;
  text-align: center;

  position: relative;
  padding-bottom: 50%;

  transition: transform 0.2s ease-in-out;
}

.category-card:hover {
  transform: scale(1.025);
  cursor: pointer;
}

.clothing {
  grid-area: clothing;
}

.groceries {
  grid-area: groceries;
}

.footwear {
  grid-area: footwear;
}

.tech {
  grid-area: tech;
}

.home {
  grid-area: home;
}

.beauty {
  grid-area: beauty;
}

.category-card__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.category-card__caption {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.75rem;
  margin: 0.75rem;
  background-color: #fff;
  color: #000;
  font-size: 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
}

.product-image {
  height: 50%;
  width: 10vw;
}

.products-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  height: 75vh;
}

.product-card {
  height: 80%;
  width: 18%;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

.product-card p {
  font-size: 1rem;
}

.product-name {
  height: 10vh;
}

@media (max-width: 767px) {
  .shop-grid__container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      "clothing groceries tech"
      "footwear home beauty";
  }

  .category-card__caption {
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 1rem;
  }

  .product-card {
    width: 80vw;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  .products-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto;
  }

  .product-image {
    width: 10vw;
    height: 25vh;
  }
  
  .buttons {
    display: flex;
    flex-direction: column;
    align-items: space-evenly;
    height: 20vh;
    width: 100%;
  }
  
  .prod-button {
    width: 100%;
  }
  
}

@media (max-width: 500px) {
  .shop-grid__container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      "clothing groceries"
      "footwear tech"
      "home beauty";
  }

  .category-card__caption {
    padding: 0.25rem;
    margin: 0.25rem;
    font-size: 0.75rem;
  }

  
}
