.topDeals-grid__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1.25rem;
}

.topDeal-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.topDeal-card__header {
  font-size: 1rem;
  font-weight: 600;
  text-align: left;
  margin-bottom: 0.5rem; /* add margin to bottom */
}

.topDeal-card__img {
  max-width: 100%;
  height: auto;
  margin-bottom: 0.5rem; /* add margin to bottom */
  object-fit: cover;
  display: block;
}

.topDeal-card__price {
  display: flex;
  justify-content: space-between;

  text-align: left;
  color: #c3073f;
  transition: color 0.2s ease-in-out;
  font-weight: bold;
}

.topDeal-card:focus,
.topDeal-card:hover {
  color: #004499;
  border-bottom-color: #004499;
  outline: none;
}

.topDeal-card__price:active {
  color: #ff6600;
  border-bottom-color: #ff6600;
}

@media (max-width: 800px) {
  .topDeals-grid__container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .topDeals-card__header {
    font-size: 1rem;
    text-align: left;
    margin-bottom: 10px; /* add margin to bottom */
  }
}

@media (max-width: 500px) {
  .topDeals-grid__container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }
}
