.topDeals-grid__container {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 1rem;
}

.topDeal-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  margin-bottom: 1.25rem;
}

.topDeal-card__header {
  margin-top: 0.75rem;
  font-size: 1.05rem;
  font-weight: 600;
  text-align: left;
  margin-bottom: 0.5rem;
  color: #1c1c1c;
}

.topDeal-card__img {
  max-width: 100%;
  margin-bottom: 0.5rem; /* add margin to bottom */
  object-fit: cover;
  display: block;
}

.topDeal-card__price {
  display: flex;
  justify-content: space-between;

  text-align: left;
  color: #f56400;
  transition: color 0.2s ease-in-out;
  font-weight: bold;
  font-size: 1.125rem;
}

.topDeal-card:focus,
.topDeal-card:hover {
  color: #004499;
  outline: none;
}

.topDeal-card__price:active {
  color: #ff6600;
  border-bottom-color: #ff6600;
}

@media only screen and (min-width: 768px) and (max-width: 900px) {
  .topDeals-grid__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1rem;
  }

  .topDeals-card__header {
    font-size: 1rem;
    text-align: left;
    margin-bottom: 10px; /* add margin to bottom */
  }
}

@media only screen and (min-width: 901px) {
  .topDeals-grid__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1.25rem;
  }
}

@media only screen and (max-width: 767px) {
  .topDeal-card {
    width: 50vw;
    margin-left: 25%;
    margin-right: 25%;
  }
}
