/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Merriweather:wght@400;700&display=swap");

/* Variables */
:root {
  /* Light mode */
  --color-primary: #000000;
  --color-secondary: #ffffff;
  --color-accent: #c3073f;
  --color-background: #efefef;

  /* Dark mode */
  --color-primary-dark: #ffffff;
  --color-secondary-dark: #000000;
  --color-accent-dark: #ff2d55;
  --color-background-dark: #1c1c1e;

  /* Typography variables */
  --body-font: "Open Sans", sans-serif;
  --heading-font: "Merriweather", serif;
  --body-font-size: 14px;
  --body-line-height: 1.5;
}

/* Global styles */
html {
  font-size: 14px;
  color: var(--light-text-color);
}

body {
  font-family: var(--body-font);
  font-size: var(--body-font-size);
  line-height: var(--body-line-height);
  background-color: var(--color-background);
  color: var(--color-primary);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--secondary-color);
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.main-content {
  width: 100%;
  padding: 0 1rem;
}

footer {
  /* border-top: 1px solid var(--color-background-dark); */
}
/* Styles for light mode */
[data-theme="light"] {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --light-color: #f8f9fa;
  --dark-color: #343a40;
}

/* Styles for dark mode */
[data-theme="dark"] {
  --primary-color: #4e7c7a;
  --secondary-color: #bfbfbf;
  --light-color: #212529;
  --dark-color: #f8f9fa;

  color: var(--dark-text-color);
  background-color: var(--dark-bg-color);
}

/* Media queries for responsive typography */
@media only screen and (min-width: 768px) {
  :root {
    --body-font-size: 16px;
    --body-line-height: 1.5;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }
}

@media only screen and (min-width: 1200px) {
  :root {
    --body-font-size: 18px;
    --body-line-height: 1.6;
  }

  .App {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
}
