.home_page {
  max-width: 1200px !important;
  margin: 0 auto;
}

.card-link {
  color: #ec6e4c;
}

.card-link h2 {
  color: black;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-cell li {
  list-style-type: none;
}

.footer-upper {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.footer-lower {
  display: flex;
}

/* Medium screens (tablets and small desktops) */
@media only screen and (min-width: 768px) {
  .footer-upper, .footer-lower {
    margin-left: 10%;
    margin-right: 10%;
  }
  .footer-lower {
    width: 100%;
    justify-content: space-evenly;
    flex-direction: row;
  }
  .footer-upper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-cards {
    display: flex;
  }

}

/* Large screens (large desktops and high-resolution displays) */
@media only screen and (min-width: 1200px) {  
  .footer-lower {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }

  .footer-cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15%;
    border: none;
  }
  
  .footer-upper,
  .footer-lower {
    margin-left: 10%;
    margin-right: 10%;
    justify-content: space-evenly;
    flex-direction: row;
  }
}