/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Merriweather:wght@400;700&display=swap");

/* Variables */
:root {
  --primary-color: #f56400;
  --secondary-color: #f5e8df;
  --background-color: #efefef;
  --text-color: #111111;
  --accent-color: #1c1c1c;

  /* Typography variables */
  --body-font: "Open Sans", sans-serif;
  --heading-font: "Merriweather", serif;
  --body-font-size: 14px;
  --body-line-height: 1.5;
}

/* Global styles */
html {
  font-size: 14px;
  color: var(--text-color);
}

body {
  font-family: var(--body-font);
  font-size: var(--body-font-size);
  line-height: var(--body-line-height);
  background-color: var(--background-color);
  color: var(--text-color);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

/* a:hover {
  color: var(--secondary-color);
  text-decoration: underline;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

section {
  padding-bottom: 2rem;
  padding-top: 2rem;
}

nav {
  font-family: var(--heading-font);
}

.custom-container {
  width: 100% !important;
  max-width: none !important;
  padding: 0 0.75rem !important;
}

/* Media queries for responsive typography */
@media only screen and (min-width: 768px) {
  :root {
    --body-font-size: 16px;
    --body-line-height: 1.5;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }

  .custom-container {
    width: 100% !important;
    max-width: 750px !important;
    margin: 0 auto !important;
    padding: 0 !important;
  }
}

@media only screen and (min-width: 1200px) {
  :root {
    --body-font-size: 18px;
    --body-line-height: 1.6;
  }

  .custom-container {
    width: 100% !important;
    max-width: 1024px !important;
    margin: 0 auto !important;
  }

  .container-fluid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

button {
  background-color: var(--primary-color) !important;
}
